{% extends 'library_app/template.html' %}
{% load static %}

{% block header %}
    {{header}}
{%endblock%}

{% block content %}

<!-- Блок "Новинки" -->

    <div class="block">
        <div class="block-header">
            <h2>
                {% comment %} <img class='News_icon'src="icons/new" alt="new_icon"> {% endcomment %}
                {{header}} 
            </h2>
        </div>
        <div class="block-content">
            {% for message in messages %}                    
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span> 
                    {{message}}
                </div>
            {% endfor %}
            {% for el in book_shelf %}
            <div class="ShelfItem">
                <div class='BookImg'>
                    <img 
                        src="{% if el.book_picture%}
                            {{el.book_picture.url}}
                        {% endif %}"
                        alt="">
                </div>
                <div class="BookFooter">
                    <a href='{% url 'detail' el.id %}' class='book_title'>{{el.book_title}}</a>
                    <div class="BookInfo">
                        <h3 class='Rating'>
                            {% if el.book_rate > 0 %}
                                <img class='Rating_icon'src="{% static 'library_app/images/smile' %}" alt="rate_icon">
                            {% elif el.book_rate == 0%}
                            <img class='Rating_icon'src="{% static 'library_app/images/meh.png' %}" alt="rate_icon">
                            {% else %}
                                <img class='Rating_icon'src="{% static 'library_app/images/sad' %}" alt="rate_icon">
                            {% endif%}
                            {{el.book_rate}}
                        </h3>
                        <h3 class='Views'>
                            {{el.book_views}}
                            <img class='Views_icon'src="{% static 'library_app/images/view_icon' %}" alt="view_icon">
                        </h3>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            {% if book_shelf.has_previous or book_shelf.has_next%}

            <div class="pagination">
                {% if book_shelf.has_previous %}
                <a href="{% url 'library' sort %}?page={{book_shelf.previous_page_number}}">&laquo;</a>
                {% endif %}

                {% if pages %}
                    {% for page in pages%}
                        <a 
                        {% if page == current_page%} 
                            class='active' 
                        {% else %}
                            href="{% url 'library' sort %}?page={{page}}"
                        {% endif %}
                        >{{page}}</a>
                    {% endfor%}
                {% endif %}
                {% comment %} <a class="active" href="#">2</a> {% endcomment %}

                {% if book_shelf.has_next %}
                <a href="{% url 'library' sort %}?page={{book_shelf.next_page_number}}">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
            {% comment %} {% endif %} {% endcomment %}
        </div>
        <div class='block-footer'>

        </div>
    </div>
{%endblock%}