
        <div class="block">
            <div class="block-header" id="profile">
                <h2>
                    <img class='Profile_icon'src="icons/profile" alt="new_icon">
                    Профиль пользователя
                </h2>
            </div>
            <div class="block-content" id="profile-block-content">
                <div class="profile-block">
                    <div class="profile-picture-block">
                        <div class="profile-image"></div>
                    </div>
                    <div class='profile-user-data'>
                        <h1>Username</h1>
                        <h2>Дата регистрации: 17.10.2021</h2>
                        <h2>О пользователе:</h2>
                        <div class="profile-user-data-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur. 
                                Excepteur sint occaecat cupidatat non proident, 
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                                qui officia deserunt 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='block-footer'>

            </div>

        </div>
        