{% extends 'library_app/template.html' %}
{% load static %}

{% block content %}

        <div class="block">
            <div class="block-header">
                <h2>
                    Регистрация пользователя
                </h2>
            </div>
            <div class="block-content">
                <!--
                    Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.


                    Пароль не должен быть слишком похож на другую вашу личную информацию.
                    Ваш пароль должен содержать как минимум 8 символов.
                    Такой пароль часто используется.
                    Пароль не может состоять только из цифр.

                    Для подтверждения введите, пожалуйста, пароль ещё раз.
                -->
                <form method="POST" class="auth-reg-form" action=''>
                    {% csrf_token %}

                    {% comment %} <div class='validation-error'> {% endcomment %}
                    
                    <div class="center-block">
                        {{form.username.errors.as_ul}}
                        {{form.email.errors.as_ul}}
                        {{form.password1.errors.as_ul}}
                        {{form.password2.errors.as_ul}}

                        {% comment %} {%for error in form.password2.errors.as_ul%}
                            {{error}}
                        {%endfor%} {% endcomment %}

                    {{form.username}}
                    {{form.email}}
                    {{form.password1}}
                    {{form.password2}}
                    <!-- <input type="email" placeholder="Введите почту">
                    <input type="text" placeholder="Введите логин">
                    <input type="password" placeholder="Введите пароль">
                    <input type="password" placeholder="Подтвердите пароль"> -->
                    <button type='submit' >Зарегистрироваться</button><br>
                    <span>У вас уже есть аккаунт? <a href='{% url 'login' %}'>Авторизоваться</a> </span>
                    </div>
                </form>
            </div>

            <div class='block-footer'>

            </div>

        </div>

    </div>

{% endblock %}