/* Pagination links */
.pagination{
    margin-top: 20px;
    /* margin-bottom: px; */
    padding-bottom: 40px;
    background-color: #8e8e93;
}

.pagination a {
    color: #ffecd7;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #ffa382;
    color: white;
    border-radius: 7px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ffecd7; color: #606060; border-radius: 7px;}

